@charset "utf-8";
body,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,ol,table,tr,td,form,p,.nobian{margin:0;padding:0}
* {padding:0;margin:0}
*html{background-image:url(about:blank);background-attachment:fixed;}
html{height:100%;font-size: 62.5%;}

body{  font-family:  "Microsoft YaHei","宋体","Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB",STHeiti,  Arial, sans-serif; padding:0px; margin:0px !important;font-size: 62.5%;}
.w{width:100%;}
.wl{ width:100%; float:left;}
.h{height:100%;}
.w980{width:980px;}
.w965{width:965px;}
.w1004{width:1004px;}
.w1200{ width:1200px;}
.lili li{display:inline;}
.lile li{ float:left;}
.k2 li{ margin:0 2px;}
.ayw a{ color:#fff;}
.clearf{clear: both;}
em{ font-style:normal;}
.bkall{float:left;width:100%; display:block; font-size:1px;}
.block5{  height:5px; line-height:5px; }
.block10{ height:10px; line-height:10px;}
.block15{ height:15px; line-height:15px; }
.block25{ height:25px; line-height:25px; }
.block40{ height:40px; line-height:40px; }
.block50{ height:50px; line-height:50px; }
a{ color:#333333;transition: color 0.2s ease-in-out 0s;text-decoration:none; }
a:hover{  color:#09921b; text-decoration:none;}
div a:hover{ color:#09921b;}
.f12{font-size:12px;}
.f14{ font-size:14px;}
.l{float:left;}
.r{float:right;}
.c{margin:0 auto;}
.in{display:inline;}
.hid{overflow:hidden;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh18{line-height:18px;}
.lh100{ line-height:100%;}
a{text-decoration:none;}
li,dt,dd{list-style:none;}
.pl5{ padding-left:5px;}
.pa5{ padding:0 5px;}
.mtop5{margin-top:5px;}
.mtop3{margin-top:3px;}
.mtop2{margin-top:2px;}
.mtop10{ margin-top:10px;}
.mtop35{ margin-top:35px;}
.ptop5{padding-top:5px;}
.ptop3{padding-top:3px;}
.ptop10{padding-top:10px;}
a img{ border:none;}
.ullial li a,.ullial li em{float:left;}
.letterp1{letter-spacing:1px;}
.zjuz{text-align:center;}
.fwt{font-weight:100;}
.dnone{display:none;}
.dblock{ display:block;}
.bgcen{background-position:top center;}
.bgnp{background-repeat:no-repeat;}
.bgbai{ background:#ffffff;}
.p5{ padding:5px 0;}
.m20{ margin:20px 0;}
.iz img{ display:block; margin:0 auto;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.pr{ position:relative;}
.pas{ position:absolute;}

.c1s{ color:#ffffff;}
.c2s{ color:#ffc60b}
.c3s{ color:#787878}
.c3s a,.c3s label{ margin:0 3px;}

.z_red{ color:#da0000;}
.z_gray{ color:#888888;}
.z_black{ color:#000000;}
.z_green{ color:#10ae00}
.z_blue{ color:#00a2ff;}

.bghui{ background:#f5f5f5;}

.nob{ border:none;}
.menuList{
    height: 85px;
    width: 100%;
}
.menuList ul{
    width: 600px;
    height: 100%;
    float: right;
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 200px;
}
.menuList ul li{
    float: left;
    font-size: 1.8rem;
}
.menuList ul li a{
    text-decoration: none;
    display: block;
    height: 85px;
    width: 140px;
    text-align: center;
    line-height:85px;
    color:#333333;
}
.menuListRed{
    background: rgba(230,0,18,1);

}
.menuListRed ul li a{
    color: white;
}
.top{
    background: white;
    height: 85px;
}
.top .logo{
margin-top: 0;
}
.section1{

    background: #e60012;
    position: relative;
    overflow: hidden;
}


.section1 .title{
    width:60% ;
    height: 250px;
    overflow: hidden;
    margin-left: 5%;
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.section1 .title .title_item{
    float: left;
    width: 200px;
    height: 200px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
.section1 .title .title_item img{
    width: 250px;
    height:250px;
    opacity: 0;
}
.section1 .title2{
    width:100%;
    height: 90px;
    position: relative;
    overflow: hidden;

}
.section1 .title2 .title2_bg{
    width: 100%;
    height: 100%;
    background:#fd303f ;
    position: absolute;
    left: -100%;
}
.section1 .title2 .title2_words{
    width: 700px;
    line-height: 90px;
    text-align: center;
    color: white;
    font-size: 60px;
    position: absolute;
    left: 14%;
    font-weight: 300;
    letter-spacing:5px;
    opacity: 0;
}
.section1 .right{
    width:26%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    /*overflow: hidden;*/
}
.section1 .right .right_bg{
    width: 200%;
    height: 300%;
    background:#fd303f ;
    position: absolute;

    top: -100%;

    opacity: 0;
    transform-origin: 0 50%;
    transform:rotate(30deg);
    -ms-transform:rotate(30deg);    /* IE 9 */
    -moz-transform:rotate(30deg);   /* Firefox */
    -webkit-transform:rotate(30deg); /* Safari 和 Chrome */
    -o-transform:rotate(30deg);    /* Opera */
}
.section1 .right .right_bg_tran{
    transform-origin: 0 50%;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);    /* IE 9 */
    -moz-transform:rotate(45deg);   /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);    /* Opera */
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.5s ease-in-out; /* Safari 和 Chrome */
    -o-transition: all 0.5s ease-in-out; /* Opera */
}
.section1 .right .right_words{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 300;
    bottom: 25%;
    right: 12%;
    opacity: 0;
}
.section1 .right .right_words p{
    margin-top: 50px;
    padding-left: 80px;
    white-space: nowrap;
}
.section1 .right .right_words p:first-child{
    padding-left: 160px;
}
.section1 .right .right_words p:last-child{
    padding-left: 0;
}


.section2_cont{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
.section2_cont .section2_img{
    width: 50%;
    float: left;
}
.section2_cont .section2_img img{
    width: 100%;
    height: 100%;
}
.section2_cont .section2_words{
    width: 50%;
    height: 100%;
    float: right;
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #E60012;
}

.section2_cont .section2_words div{
    width: 80%;
}
.section3{
    /*background-color: transparent!important;*/
}
.section3_box{
    width: 100%;
    height: 100%;
}
.section3_box .section3_item{
    display: block;
    width: calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -webkit-calc(100% / 3);
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
}
.section3_box .section3_item .sec_item_bg{
    width: 100%;
    height:100%;
    position: absolute;
}
.section3_box .section3_item .sec_item_bg img{
    position: absolute;
    left: 0;
    top:0;
    width: 700px;
    height:100%;
}
.section3_box .section3_item .sec_item_cover{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    top:0;
    transition: 1s;
}
.sec_item_words{
    position: absolute;
    top: 250px;
    color:white;
    font-size: 44px;
    text-align: center;
    width:330px;
    opacity: 0;
    transition:.5s;
}

.section4{
    background:url("../images/hezuobg.jpg") no-repeat;
    background-size: cover;
}
.section5{
    background: url("../images/joinBg.jpg") 0 0 no-repeat;
    background-size:cover;
}
.section5 .fp-tableCell{
    display: block;
}
.section5 #accordion{
    width:50% ;
    float: right;
    margin-right: 10%;
    margin-top: 100px;
}
.section5 #accordion .panel-default{
    border: 0;
    background: transparent;
}
.section5 #accordion .panel-heading{
    height: 70px;
    border-bottom: 1px solid #898989;
    background: transparent;
    font-size: 25px;
    color: white;
    position: relative;
    display: -webkit-flex;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
}
.section5 #accordion .panel-heading span{
    display: block;
    width: 25px;
    height: 20px;
    background: url("../images/job_down.png") no-repeat;
    background-size:100% 100% ;
    position: absolute;
    right: 50px;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    transition: .5s;
}
.section5 #accordion .panel-heading span.rotate{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    transition: .5s;
}
.section5 #accordion .panel-heading .panel-title a{
    text-decoration: none;
    font-size: 25px;
}
.section5 #accordion .panel-heading .panel-title a:hover{
    color: white;
}
.section5 #accordion .panel-body{
    border-top: 0;
    font-size: 18px;
    color: white;
}

#section-footer{
    height: 250px;
}
.section.footerss .fp-tableCell{
    display: block;!important;
}
#footer
{
    background: #DDDDDE;
    height: 250px;/*设置尾屏高度*/
    padding-top: 50px;
}
#footer p{
    width: 100%;
    text-align: center;
}
#myIframe{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: none;
    z-index: 1000;
}
#closeIframe{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 100px;
    top: 70px;
    z-index: 10000;
    display: none;
    cursor: pointer;
}
#closeIframe img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1600px) {
    .section1 .title2 .title2_words{
        left: 12%;
    }
}
@media screen and (max-width: 1500px) {
    .section1 .title2 .title2_words{
        left: 10%;
    }
}
@media screen and (max-width: 1350px) {
    .section1 .title2 .title2_words{
        left: 9%;
    }
    .section1 .right .right_words{
        font-size: 26px;
        bottom: 15%!important;
    }
}
@media screen and (max-width: 1200px) {
    .section1 .title2 .title2_words{
        left: 6%;
    }
    .section2_cont .section2_words{
        font-size: 18px;
    }
    .section1_title1 img{
        width: 700px;
        height: 198px;
    }
    .section1 .right .right_words{
        font-size: 26px;
        bottom: 15%!important;
    }
}
@media screen and (max-width: 992px) {
    .section2_cont .section2_words{
        font-size: 16px;
    }
    .section1 .right .right_words{
        font-size: 22px;
    }
    .section1 .title2 .title2_words{
        left: 3%;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

